<div id="<%= dom_id collection %>">
  <p>
    <strong>Collection name:</strong>
    <%= collection.collection_name %>
  </p>

  <p>
    <strong>Vector name:</strong>
    <%= collection.vector_name %>
  </p>

</div>
