<h1>Editing collection document</h1>

<%= render "form", collection_document: @collection_document %>

<br>

<div>
  <%= link_to "Show this collection document", @collection_document %> |
  <%= link_to "Back to collection documents", collection_documents_path %>
</div>
