<p style="color: green"><%= notice %></p>

<h1>Images</h1>

<div id="images">
  <table>
    <thead>
      <tr>
        <th>Test Set</th>
        <th>Legend</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @images.each do |image| -%>
        <tr>
          <td><%= @test_sets_names[ image.test_set_id ] %></td>
          <td><%= image.legend %></td>
          <td><%= link_to "Show", image %></td>
        </tr>
      <% end -%>
</div>
