<p style="color: green"><%= notice %></p>

<h1>Vector Store Collections</h1>

  <table cellpadding="2" class="display compact dataTable" id="example">
    <thead>
      <tr>
        <th>Name</th>
        <th>Vector Store</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @collections.each do |collection| %>
        <tr>
          <td><%= collection.collection_name %></td>
          <td><%= collection.vector_name %></td>
          <td><%= link_to "Show", collection %></td>
        </tr>
      <% end -%>
    </tbody>
  <table>
</div>
