<div id="<%= dom_id parameter %>">
  <p>
    <strong>Parameter name:</strong>
    <%= parameter.parameter_name %>
  </p>

  <p>
    <strong>Parameter value:</strong>
    <%= parameter.parameter_value %>
  </p>

</div>
