
<table border=2>
  <thead></thead>
  <tbody>
    <div id="<%= dom_id question %>">
      <tr>
        <td><strong>Question:</strong></td>
        <td><%= llm_question.question_text %></td>
      </tr>
    </div>
    <div id="<%= dom_id flag_text %>">
      <tr>
        <td><strong>Flag text:</strong></td>
        <td><%= llm_question.flag_text %></td>
      </tr>
    </div>
  </tbody>
</table>
