<h1>Editing LLM question</h1>
<%= render "form", llm_question: @llm_question %>
<br>
<div>
  <%= link_to "Show this LLM question", @llm_question %> |
  <%= link_to "Back to LLM questions", llm_questions_path %>
</div>
