<p style="color: green"><%= notice %></p>

<h1>User reads</h1>

<div id="user_reads">
  <% @user_reads.each do |user_read| %>
    <%= render user_read %>
    <p>
      <%= link_to "Show this user read", user_read %>
    </p>
  <% end %>
</div>

<%= link_to "New user read", new_user_read_path %>
