<h1>Editing parameter set</h1>

<%= render "form", parameter_set: @parameter_set %>

<br>

<div>
  <%= link_to "Show this parameter set", @parameter_set %> |
  <%= link_to "Back to parameter sets", parameter_sets_path %>
</div>
