<div id="<%= dom_id user_read %>">

  <p>
    <strong>Page number:</strong>
    <%= user_read.page_number %>
  </p>

  <p>
    <strong>Is complete:</strong>
    <%= user_read.is_complete %>
  </p>

</div>
