<h1>Editing user read</h1>

<%= render "form", user_read: @user_read %>

<br>

<div>
  <%= link_to "Show this user read", @user_read %> |
  <%= link_to "Back to user reads", user_reads_path %>
</div>
