<h1>Editing llm evaluation</h1>

<%= render "form", llm_evaluation: @llm_evaluation %>

<br>

<div>
  <%= link_to "Show this llm evaluation", @llm_evaluation %> |
  <%= link_to "Back to llm evaluations", llm_evaluations_path %>
</div>
