<br/>
<h1>Editing test question</h1>

<%= render "form", test_question: @test_question %>
<br/>
<div>
  <%= link_to "Show this test question", @test_question %> |
  <%= link_to "Back to test questions", test_questions_path %>
</div>
