<h1>Editing user test</h1>

<%= render "form", user_test: @user_test %>

<br>

<div>
  <%= link_to "Show this user test", @user_test %> |
  <%= link_to "Back to user tests", user_tests_path %>
</div>
