<div id="<%= dom_id qualification %>">
  <table border="2">
    <thead></thead>
    <tbody>
      <tr>
        <td><strong>Qualification name:</strong></td>
        <td><%= qualification.qualification_name %></td>
      </tr><tr>
        <td><strong>Qualification code:</strong></td>
        <td><%= qualification.qualification_code %></td>
      </tr>
    </tbody>
  </table>
</div>
