<div id="<%= dom_id user_qualification %>">
  <p>
    <strong>Date qualified:</strong>
    <%= user_qualification.date_qualified %>
  </p>

  <p>
    <strong>Updated training:</strong>
    <%= user_qualification.updated_training %>
  </p>

  <p>
    <strong>Experience level:</strong>
    <%= user_qualification.experience_level %>
  </p>

</div>
