<h1>Editing parameter</h1>

<%= render "form", parameter: @parameter %>

<br>

<div>
  <%= link_to "Show this parameter", @parameter %> |
  <%= link_to "Back to parameters", parameters_path %>
</div>
