<div id="<%= dom_id parameter_set %>">
  <p>
    <strong>Set name:</strong>
    <%= parameter_set.set_name %>
  </p>

  <p>
    <strong>Set type:</strong>
    <%= parameter_set.set_type %>
  </p>
</div>
