<div id="<%= dom_id role %>">
  <table border="2">
    <thead></thead>
    <tbody>
      <tr>
        <td><strong>Role name:</strong></td>
        <td><%= role.role_name %></td>
      </tr>
    </tbody>
  </table>
</div>
