<p style="color: green"><%= notice %></p>

<h1>Roles</h1>

<div id="roles">
  <table cellpadding="2" class="display compact dataTable" id="example">
    <thead>
      <tr>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @roles.each do |role| %>
        <tr>
          <td><%= role.role_name %></td>
          <td><%= link_to "Show", role %></td>
        </tr>
      <% end -%>
    </tbody>
    </table> 
</div>
 
<%= link_to "New role", new_role_path %>
