<h1>Editing difference</h1>

<%= render "form", difference: @difference %>

<br>

<div>
  <%= link_to "Show this difference", @difference %> |
  <%= link_to "Back to differences", differences_path %>
</div>
