<p style="color: green"><%= notice %></p>

<h1>Differences</h1>

<div id="differences">
  <% @differences.each do |difference| %>
    <%= render difference %>
    <p>
      <%= link_to "Show this difference", difference %>
    </p>
  <% end %>
</div>

<%= link_to "New difference", new_difference_path %>
