<div id="<%= dom_id group %>">
  <table>
    <thead></thead>
    <tbody>
      <tr>
        <td>Parent:</td>
        <td><%= @parent.group_name if ! @parent.nil? %></td>
      </tr><tr>
        <td>Group name:</td>
        <td><%= group.group_name %></td>
      </tr>
    </tbody>
  </table>
</div>
