<br/>
<h1>Question <%= @test_question.question_number %></h1>

<%= render "form", user_question: @user_question, locals: {user_question: @user_question, test_question: @test_question, test_set: @test_set, topic: @topic} %>
<br>

<div>
  <%= link_to "Show this user question", @user_question %> |
  <%= link_to "Back to user questions", user_questions_path %>
</div>
