<div id="<%= dom_id favorite_list %>">
  <p>
    <strong>List name:</strong>
    <%= favorite_list.list_name %>
  </p>

  <p>
    <strong>Is public:</strong>
    <%= favorite_list.is_public %>
  </p>

</div>
