<br/>
<h1>Editing LLM template</h1>

<%= render "form", template: @template %>

<br>

<div>
  <%= link_to "Show this LLM template", @template %> |
  <%= link_to "Back to LLM templates", templates_path %>
</div>
