<p style="color: green"><%= notice %></p>
<br/>
<%= render @template %>

<div>
  <%= link_to "Edit this LLM template", edit_template_path(@template) %> |
  <%= link_to "Back to LLM templates", templates_path %>
</div>
