<div id="<%= dom_id folder %>">

  <table border="2">
    <thead></thead>
    <tbody>
      <tr>
        <td><strong>Folder name:</strong></td>
        <td><%= folder.folder_name %></td>
      </tr>
    </tbody>
  </table>
</div>
